{# As with the regionally separated VPC Nentworks, the 1st VM instance
   and SQL servers will be situated in the London region and associted zone, 
   and the sceond lot will be hosted in Frankfurt. #}

# 1st VM instance ---------------------------------------
resources:
- name: vm-1-london
  type: vm-template-1.jinja
  properties:
    machineType: e2-standard-2
    zone: europe-west2-b
    network: $(ref.vpc-network-1.selfLink)
    subnetwork: $(ref.subnet-a.selfLink)


# 1st CLoud instance -------------------------------------
- name: cloud-sql-server-instace
  type: sql-server-1.jinja
  properties:
    network: $(ref.vpc-network-1.selfLink)
    subnetwork: $(ref.subnet-a.selfLink)


# 2nd VM instance ---------------------------------------
resources:
- name: vm-2-frankfurt
  type: vm-template-2.jinja
  properties:
    machineType: e2-standard-2
    zone: europe-west3-c
    network: $(ref.vpc-network-2.selfLink)
    subnetwork: $(ref.subnet-b.selfLink)


# 1st CLoud instance #-------------------------------------
- name: cloud-sql-server-2
  type: sql-server-2.jinja
  properties:
    network: $(ref.vpc-network-2.selfLink)
    subnetwork: $(ref.subnet-b.selfLink)



# 1st Managed Instance Group to provide contolled autoscaling 
# capabilities, as well load balancing between muliple identical VM's  

{# This is where we can bring in the first of the Managed Instance Groups (MIG)
   Starting with the base template for a cluster of Windows Serever instances,
   we can then establish a number of autoscaled VMs to accomodate elastic usage 
   and provide extra compute power as the business grows and traffic expands. #}

- name: instance-template-win
  type: instance-template-1.jinja
  properties:
    network: $(ref.vpc-network-1.selfLink)
    subnetwork: $(ref.subnet-a.selfLink)

- name: instance-group-1
  type: instance-group-1.jinja


- name: instance-template-debian
  type: instance-template-2.jinja
  properties:
    network: $(ref.vpc-network-2.selfLink)
    subnetwork: $(ref.subnet-b.selfLink)

- name: instance-group-2
  type: instance-group-2.jinja