
resources:
- name: {{ env["name"] }}
  type: compute.v1.firewall
  properties:
    network: {{ properties["network"] }}
    sourceRanges: ["0.0.0.0/0"]
    allowed: 
      #Allow SSH as well http and shttp
    - IPProtocol: {{ properties["IPProtocol"] }}
      ports: ["22","80", "443"]